.p-Home.Div11 {
align-self: center;
margin-left: 500px;
margin-bottom: ;
margin-top: ;
position: relative;
bottom: 450px;
padding-left: ;
padding-right: ;
padding-top: ;
left: 0;
width: ;
padding-bottom: ;
}
.p-Home.Flex3 {
display: flex;
justify-content: flex-start;
align-content: stretch;
align-items: center;
margin-left: 55px;
margin-top: ;
padding-top: 30px;
padding-right: ;
row-gap: ;
width: 1200px;
height: ;
margin-bottom: ;
bottom: 10px;
position: relative;
}
.p-Home.Div15 {
height: 135px;
position: relative;
bottom: 555px;
font-size: 18px;
color: #5f5f5f;
left: 120px;
margin-top: ;
margin-left: 10px;
}
.p-Home.Div17 {
height: 150px;
outline-offset: ;
font-size: 45px;
left: 115px;
position: relative;
bottom: 925px;
margin-left: 10px;
margin-top: 110px;
width: 400px;
}
.p-Home.Flex7 {
display: flex;
height: 40px;
width: 300px;
font-size: ;
position: relative;
bottom: 850px;
left: 130px;
border-left-width: ;
}
.p-Home.Flex8 {
display: flex;
height: 100px;
position: relative;
bottom: 720px;
margin-left: 200px;
justify-content: flex-start;
align-items: center;
}
.p-Home.Div19 {
position: relative;
left: 120px;
bottom: 830px;
}
.p-Home.Flex10 {
display: flex;
height: 400px;
align-self: auto;
align-content: center;
justify-content: flex-start;
border-color: #8b8b8b;
position: relative;
bottom: 635px;
font-size: 20px;
width: 1400px;
margin-left: 40px;
text-align: left;
align-items: center;
}
.p-Home.Div23 {
height: 400px;
text-align: left;
width: 250px;
border-color: #afacacff;
border-width: ;
border-style: solid;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.p-Home.Div24 {
height: 400px;
text-align: left;
width: 250px;
border-color: #afacacff;
border-width: ;
border-style: solid;
margin-right: 30px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
align-self: auto;
margin-left: 10px;
}
.p-Home.Div25 {
height: 400px;
text-align: left;
width: 250px;
border-color: #afacacff;
border-width: ;
border-style: solid;
margin-right: 30px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-right-radius: 10px;
}
.p-Home.Div26 {
height: 400px;
text-align: left;
width: 250px;
border-color: #afacacff;
border-width: ;
border-style: solid;
margin-right: 30px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.p-Home.Flex12 {
display: flex;
width: 400px;
height: 40px;
position: relative;
left: 245px;
bottom: 100px;
margin-left: 180px;
}
.p-Home.Div28 {
height: 50px;
align-self: auto;
text-align: left;
font-size: 25px;
position: relative;
bottom: 1125px;
left: 485px;
}
.p-Home.Flex14 {
display: flex;
width: 1210px;
height: 740px;
border-color: #feffd3;
background-color: #fff8ea;
position: relative;
bottom: 400px;
margin-left: ;
}
.p-Home.Flex16 {
display: flex;
width: 600px;
height: 50px;
position: relative;
left: 595px;
bottom: 720px;
}
.p-Home.Flex17 {
display: flex;
height: 300px;
width: 375px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
position: relative;
left: 280px;
bottom: 900px;
background-color: #ffffffff;
margin-top: 65px;
}
.p-Home.Div30 {
height: 200px;
width: 300px;
margin-right: ;
font-size: 16px;
color: #a2a2a2;
position: relative;
left: 360px;
bottom: 1110px;
}
.p-Home.Div32 {
width: 1000px;
height: 100px;
left: 340px;
margin-bottom: ;
position: relative;
bottom: 900px;
margin-left: 40px;
}
.p-Home.Flex19 {
display: flex;
height: 250px;
width: 2000px;
left: 125px;
position: relative;
bottom: 850px;
background-color: #ffffff;
}
.p-Home.Div33 {
height: 70px;
width: 200px;
text-align: center;
position: relative;
left: 130px;
bottom: 860px;
}
.p-Home.Div34 {
height: 70px;
width: 200px;
text-align: center;
left: 850px;
position: relative;
bottom: 1080px;
}
.p-Home.Div35 {
height: 70px;
width: 200px;
text-align: center;
left: 370px;
position: relative;
bottom: 930px;
margin-bottom: 10px;
}
.p-Home.Div36 {
height: 70px;
width: 200px;
text-align: center;
position: relative;
left: 605px;
bottom: 1010px;
}
.p-Home.Flex23 {
display: flex;
width: 2000px;
height: 50px;
position: relative;
bottom: 1370px;
}
.p-Home.Flex27 {
display: flex;
height: 100px;
bottom: 810px;
position: relative;
}
.p-Home.Div53 {
height: 70px;
width: 200px;
text-align: center;
position: relative;
left: 170px;
}
.p-Home.Div54 {
height: 70px;
width: 200px;
text-align: center;
position: relative;
left: 210px;
}
.p-Home.Div55 {
height: 70px;
width: 200px;
text-align: center;
position: relative;
left: 250px;
}
.p-Home.Div52 {
height: 70px;
width: 200px;
text-align: center;
position: relative;
left: 130px;
}
.p-Home.Flex24 {
display: flex;
height: 180px;
position: relative;
margin-bottom: ;
bottom: 1100px;
}
.p-Home.Flex25 {
display: flex;
height: 4px;
width: 2000px;
left: 125px;
position: relative;
bottom: 1050px;
background-color: #ffffff;
}
.p-Home.Flex31 {
display: flex;
height: 50px;
bottom: 980px;
position: relative;
}
.p-Home.Flex32 {
display: flex;
width: 400px;
height: 40px;
position: relative;
left: 240px;
margin-left: 180px;
}
.p-Home.Flex33 {
display: flex;
height: 600px;
bottom: 880px;
position: relative;
width: 2000px;
}
.p-Home.Div58 {
width: 570px;
margin-right: ;
color: #ffffff;
background-color: #ff7b35;
text-align: center;
top: 50px;
}
.p-Home.Flex34 {
display: flex;
height: 40px;
width: 350px;
font-size: ;
position: relative;
left: 180px;
border-left-width: ;
top: 30px;
margin-left: 15px;
}
.p-Home.Flex28 {
display: flex;
height: 30px;
bottom: 1970px;
position: relative;
}
.p-Home.Flex29 {
display: flex;
width: 2000px;
height: 50px;
position: relative;
top: 10px;
}
.p-Home.Div59 {
height: 400px;
bottom: 800px;
position: relative;
text-align: center;
margin-left: 200px;
margin-top: ;
}
.p-Home.Flex35 {
display: flex;
bottom: 400px;
position: relative;
height: 900px;
width: 1220px;
background-color: #fbf4ef;
}
.p-Home.Div60 {
margin-left: 140px;
margin-right: 50px;
width: 420px;
background-color: #fff2f2;
}
.p-Home.Div62 {
height: 200px;
background-color: #ffffff;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
position: relative;
bottom: 20px;
}
.p-Home.Div61 {
;
}
.p-Home.Flex38 {
display: flex;
height: 60px;
position: relative;
bottom: 500px;
}
.p-Home.Flex39 {
display: flex;
width: 400px;
height: 40px;
position: relative;
left: 240px;
margin-left: 180px;
}
.p-Home.Flex42 {
display: flex;
height: 1400px;
width: 600px;
bottom: 500px;
position: relative;
right: 600px;
}
.p-Home.Div77 {
margin-left: ;
margin-right: 80px;
width: 100px;
height: 1200px;
}
.p-Home.Div79 {
height: 2px;
position: relative;
top: 2000px;
width: 450px;
outline-color: #ffffff00;
background-color: #fffdfd;
border-color: transparent;
border-style: solid;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-left-radius: 40px;
border-bottom-right-radius: 40px;
right: 60px;
margin-right: 11px;
margin-left: ;
align-self: auto;
text-align: left;
}
.p-Home.Div86 {
height: 180px;
width: 300px;
margin-right: ;
font-size: 16px;
color: #a2a2a2;
position: relative;
bottom: 1725px;
right: 220px;
}
.p-Home.Flex43 {
display: flex;
height: 800px;
width: 30000px;
background-color: transparent;
position: relative;
bottom: 1900px;
}
.p-Home.Div83 {
width: 3px;
background-color: #ffffff;
position: relative;
height: 200px;
bottom: 200px;
}
.p-Home.Div98 {
height: 200px;
width: 300px;
margin-right: ;
font-size: 16px;
color: #a2a2a2;
position: relative;
top: 585px;
right: 1100px;
}
.p-Home.Div93 {
width: 400px;
height: 550px;
border-color: #c3c3c3;
background-color: #ffffff;
border-style: solid;
position: relative;
left: 450px;
top: 130px;
margin-left: ;
}
.p-Home.Div99 {
height: 100px;
width: 350px;
position: relative;
bottom: 2575px;
left: 160px;
margin-left: ;
margin-top: 95px;
}
.p-Home.Div100 {
height: 730px;
width: 1220px;
border-style: solid;
background-color: #f6ece4;
position: relative;
bottom: 2094px;
border-color: transparent;
right: 2px;
}
.p-Home.Div101 {
height: 500px;
position: relative;
border-color: transparent;
}
.p-Home.Div103 {
height: 600px;
width: 1350px;
border-color: transparent;
background-color: #ffffff;
outline-color: #0f0f0f;
border-style: solid;
position: relative;
bottom: 2100px;
}
.p-Home.Div104 {
width: 300px;
margin-right: 80px;
height: 600px;
margin-bottom: 50px;
position: relative;
left: 550px;
bottom: 345px;
color: #a0a0a0;
}
.p-Home.Flex44 {
display: flex;
width: 300px;
height: 50px;
position: relative;
bottom: 40px;
}
.p-Home.Flex45 {
display: flex;
width: 300px;
height: 50px;
position: relative;
bottom: 60px;
}
.p-Home.Flex46 {
display: flex;
width: 300px;
height: 50px;
position: relative;
bottom: 80px;
}
.p-Home.Flex47 {
display: flex;
width: 300px;
height: 50px;
position: relative;
bottom: 100px;
}
.p-Home.Flex49 {
display: flex;
width: 300px;
height: 50px;
position: relative;
bottom: 120px;
}
.p-Home.Flex53 {
display: flex;
width: 300px;
height: 50px;
position: relative;
bottom: 20px;
}
.p-Home.Flex55 {
display: flex;
width: 300px;
height: 50px;
}
.p-Home.Flex56 {
display: flex;
width: 50px;
height: 50px;
}
.p-Home.Div105 {
margin-bottom: 50px;
margin-right: 80px;
width: 300px;
height: 300px;
margin-left: 150px;
position: relative;
top: 25px;
}
.p-Home.Div106 {
width: 600px;
height: 500px;
margin-bottom: ;
position: relative;
bottom: 950px;
left: 802px;
}
.p-Home.Div7 {
width: 530px;
height: 420px;
align-self: auto;
display: ;
margin-left: 640px;
padding-left: ;
background-color: #ff7d37;
margin-top: 20px;
min-width: ;
left: 40px;
position: relative;
border-style: none;
}
.p-Home.TextBox88 {
border-color: #b9b9b9;
color: #a0a0a0;
position: relative;
top: 125px;
left: 10px;
}
.p-Home.Div64 {
width: 230px;
background-color: #fffdfd;
position: relative;
bottom: 970px;
left: 610px;
border-color: transparent;
}
.p-Home.Div72 {
width: 230px;
border-color: transparent;
background-color: #ffffff;
position: relative;
bottom: 1170px;
left: 890px;
margin-top: 100px;
}
.p-Home.Div73 {
width: 230px;
left: 610px;
position: relative;
bottom: 950px;
border-color: transparent;
outline-color: #ffffff;
background-color: #ffffff;
}
.p-Home.Div74 {
width: 230px;
position: relative;
bottom: 1050px;
left: 890px;
border-color: transparent;
background-color: #ffffff;
}
.p-Home.Image3 {
align-self: center;
width: 360px;
height: 350px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
left: 50px;
position: relative;
top: 65px;
bottom: 50px;
border-color: #ff2323;
}
.p-Home.Image1 {
margin-right: 35px;
}
.p-Home.TextBox6 {
margin-right: 25px;
outline-offset: ;
font-size: 16px;
text-align: center;
word-wrap: normal;
color: #5f5b5b;
border-color: #144fe1;
background-color: transparent;
outline-color: #090909;
}
.p-Home.TextBox7 {
margin-right: 25px;
font-size: 16px;
color: #5f5b5b;
}
.p-Home.TextBox8 {
margin-right: 25px;
font-size: 16px;
color: #5f5b5b;
}
.p-Home.TextBox10 {
margin-right: 25px;
font-size: 16px;
color: #5f5b5b;
}
.p-Home.TextBox11 {
margin-right: 120px;
font-size: 16px;
outline-color: #5f5b5b;
color: #5f5b5b;
height: ;
}
.p-Home.Button6 {
color: #fff;
background-color: #f87528;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7b36;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.p-Home.Button7 {
color: #262626;
background-color: #ffffff;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #aeaeae;
cursor: pointer;
user-select: none;
margin-right: 38px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 30px;
margin-top: ;
position: relative;
}
.p-Home.TextBox27 {
;
}
.p-Home.TextBox28 {
;
}
.p-Home.TextBox29 {
;
}
.p-Home.TextBox30 {
;
}
.p-Home.TextBox32 {
;
}
.p-Home.TextBox33 {
color: #f56d26;
}
.p-Home.Button9 {
color: #fff;
background-color: #fc792b;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff8818;
cursor: pointer;
user-select: none;
margin-right: 30px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
width: 105px;
}
.p-Home.Button10 {
color: #161616;
background-color: #f6fbff;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #b2b2b2;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
width: 105px;
}
.p-Home.Image4 {
margin-right: 60px;
width: 180px;
height: 120px;
margin-left: 40px;
}
.p-Home.Image5 {
margin-right: 40px;
width: 75px;
height: 30px;
}
.p-Home.Image6 {
width: 140px;
height: 95px;
}
.p-Home.Image7 {
width: 180px;
height: 25px;
margin-right: 60px;
}
.p-Home.TextBox41 {
margin-right: 0px;
outline-offset: ;
font-size: 23px;
width: 600px;
position: relative;
left: 260px;
margin-left: 55px;
}
.p-Home.TextBox63 {
text-align: left;
word-wrap: normal;
line-height: 20px;
font-size: 16px;
margin-bottom: 20px;
width: 160px;
margin-left: 60px;
}
.p-Home.TextBox64 {
text-align: center;
margin-top: 70px;
margin-bottom: 20px;
}
.p-Home.Image12 {
left: 75px;
top: 50px;
position: relative;
}
.p-Home.TextBox65 {
font-size: 18px;
text-align: center;
color: #ff7503;
}
.p-Home.TextBox66 {
font-size: 18px;
text-align: center;
color: #ff7503;
}
.p-Home.TextBox67 {
text-align: center;
margin-top: 70px;
margin-bottom: 20px;
}
.p-Home.TextBox68 {
text-align: left;
word-wrap: normal;
line-height: 20px;
font-size: 16px;
margin-bottom: 20px;
align-self: auto;
margin-left: 60px;
width: 150px;
}
.p-Home.Image13 {
align-self: auto;
text-align: center;
position: relative;
left: 75px;
top: 50px;
}
.p-Home.TextBox69 {
font-size: 18px;
text-align: center;
color: #ff7503;
}
.p-Home.Image14 {
position: relative;
left: 75px;
top: 50px;
}
.p-Home.TextBox70 {
text-align: center;
margin-top: 70px;
margin-bottom: 20px;
}
.p-Home.TextBox71 {
text-align: left;
word-wrap: normal;
line-height: 20px;
outline-offset: ;
font-size: 16px;
margin-bottom: 20px;
width: 160px;
margin-left: 60px;
}
.p-Home.TextBox72 {
font-size: 18px;
text-align: center;
color: #ff7503;
}
.p-Home.Image15 {
position: relative;
left: 75px;
top: 50px;
}
.p-Home.TextBox73 {
text-align: center;
margin-top: 70px;
margin-bottom: 20px;
}
.p-Home.TextBox74 {
text-align: left;
word-wrap: normal;
line-height: 20px;
font-size: 16px;
margin-bottom: 20px;
width: 160px;
margin-left: 60px;
}
.p-Home.Button16 {
color: #fff;
background-color: #f87528;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7b36;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
width: 200px;
}
.p-Home.Button17 {
color: #262626;
background-color: #ffffff;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #aeaeae;
cursor: pointer;
user-select: none;
margin-right: 38px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 30px;
margin-top: ;
position: relative;
width: 200px;
}
.p-Home.TextBox75 {
position: relative;
left: 30px;
text-align: left;
}
.p-Home.Image18 {
width: 400px;
height: 450px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 150px;
margin-top: 100px;
}
.p-Home.TextBox79 {
margin-left: 100px;
margin-top: 200px;
width: 800px;
font-size: 21px;
}
.p-Home.TextBox80 {
margin-right: ;
position: relative;
right: 155px;
top: 250px;
color: #979797;
width: 2000px;
text-align: left;
background-position-x: ;
height: 200px;
}
.p-Home.Button19 {
color: #fff;
background-color: #f87528;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7b36;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
width: 150px;
height: 40px;
}
.p-Home.Button20 {
color: #262626;
background-color: #ffffff;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #aeaeae;
cursor: pointer;
user-select: none;
margin-right: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 30px;
margin-top: ;
position: relative;
width: 130px;
height: 40px;
background-position-x: ;
}
.p-Home.Image29 {
width: 16px;
height: 50px;
margin-top: 90px;
margin-bottom: ;
position: relative;
}
.p-Home.Image30 {
width: 20px;
height: 50px;
margin-top: 150px;
margin-left: ;
position: relative;
left: 20px;
top: 20px;
}
.p-Home.Image31 {
width: 20px;
height: 50px;
margin-top: 185px;
position: relative;
left: 40px;
top: 20px;
}
.p-Home.TextBox83 {
font-size: 20px;
width: 2000px;
height: 25px;
text-align: left;
position: relative;
right: 15px;
margin-top: 50px;
}
.p-Home.TextBox90 {
text-align: left;
width: 150px;
margin-bottom: 40px;
}
.p-Home.TextBox91 {
margin-bottom: 20px;
}
.p-Home.TextBox92 {
margin-bottom: 20px;
}
.p-Home.TextBox95 {
outline-offset: ;
font-size: 24px;
width: 400px;
text-align: center;
margin-bottom: 25px;
}
.p-Home.TextBox96 {
font-size: 18px;
color: #a2a2a2;
width: 600px;
height: 50px;
right: 50px;
position: relative;
}
.p-Home.Image33 {
width: 220px;
height: 220px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
left: 0;
}
.p-Home.Image42 {
width: 220px;
height: 220px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 20px;
}
.p-Home.Image43 {
width: 220px;
height: 220px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 20px;
}
.p-Home.Image44 {
width: 220px;
height: 220px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 20px;
}
.p-Home.TextBox100 {
margin-right: ;
background-position-x: 2px;
margin-bottom: 10px;
}
.p-Home.TextBox109 {
text-align: center;
width: 210px;
color: #6b6b6b;
right: 5px;
position: relative;
}
.p-Home.TextBox103 {
text-align: center;
width: 210px;
color: #6b6b6b;
}
.p-Home.TextBox104 {
margin-bottom: 10px;
}
.p-Home.TextBox105 {
text-align: center;
width: 210px;
color: #6b6b6b;
position: relative;
right: 5px;
}
.p-Home.TextBox106 {
margin-bottom: 10px;
}
.p-Home.TextBox107 {
margin-bottom: 10px;
}
.p-Home.TextBox108 {
text-align: center;
width: 210px;
color: #6b6b6b;
}
.p-Home.TextBox138 {
height: 40px;
margin-left: 210px;
margin-right: ;
background-color: #ffffff;
width: 120px;
padding-top: ;
padding-bottom: ;
margin-top: ;
outline-offset: ;
font-size: 16px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
word-wrap: normal;
text-align: center;
line-height: 40px;
position: relative;
bottom: 10px;
}
.p-Home.TextBox142 {
height: 40px;
margin-left: 210px;
margin-right: ;
background-color: #ffffff;
width: 120px;
padding-top: ;
padding-bottom: ;
margin-top: ;
outline-offset: ;
font-size: 16px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
word-wrap: normal;
text-align: center;
line-height: 40px;
position: relative;
bottom: 10px;
right: 90px;
}
.p-Home.TextBox143 {
height: 40px;
margin-left: 30px;
margin-right: ;
background-color: #ffffff;
width: 120px;
padding-top: ;
padding-bottom: ;
margin-top: ;
outline-offset: ;
font-size: 16px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
word-wrap: normal;
text-align: center;
line-height: 40px;
position: relative;
bottom: 10px;
}
.p-Home.TextBox144 {
height: 40px;
margin-left: 120px;
margin-right: 170px;
background-color: #ffffff;
width: 120px;
padding-top: ;
padding-bottom: ;
margin-top: ;
outline-offset: 16px;
font-size: 21px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
word-wrap: normal;
text-align: center;
line-height: 40px;
position: relative;
bottom: 10px;
}
.p-Home.TextBox151 {
text-align: center;
width: 210px;
color: #6b6b6b;
right: 5px;
position: relative;
}
.p-Home.TextBox152 {
margin-right: ;
background-position-x: 2px;
margin-bottom: 10px;
}
.p-Home.TextBox153 {
text-align: center;
width: 210px;
color: #6b6b6b;
right: 5px;
position: relative;
}
.p-Home.TextBox154 {
margin-right: ;
background-position-x: 2px;
margin-bottom: 10px;
}
.p-Home.TextBox155 {
text-align: center;
width: 210px;
color: #6b6b6b;
right: 5px;
position: relative;
}
.p-Home.TextBox156 {
margin-right: ;
background-position-x: 2px;
margin-bottom: 10px;
}
.p-Home.TextBox149 {
text-align: center;
width: 210px;
color: #6b6b6b;
right: 5px;
position: relative;
}
.p-Home.TextBox150 {
margin-right: ;
background-position-x: 2px;
margin-bottom: 10px;
}
.p-Home.Image49 {
width: 220px;
height: 220px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 20px;
position: relative;
top: 1000px;
}
.p-Home.Image50 {
width: 220px;
height: 220px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 20px;
position: relative;
top: 1000px;
}
.p-Home.Image52 {
width: 220px;
height: 220px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
left: 0;
position: relative;
top: 1000px;
}
.p-Home.Image51 {
width: 220px;
height: 220px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-right: 20px;
top: 1000px;
position: relative;
}
.p-Home.Button21 {
color: #262626;
background-color: #ffffff;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #aeaeae;
cursor: pointer;
user-select: none;
margin-right: 38px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 30px;
margin-top: ;
position: relative;
width: 200px;
}
.p-Home.Button22 {
color: #fff;
background-color: #f87528;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7b36;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
width: 200px;
}
.p-Home.Image57 {
width: 650px;
height: 600px;
}
.p-Home.TextBox169 {
font-size: 31px;
color: #fff8f8;
margin-top: 160px;
margin-bottom: ;
background-color: transparent;
}
.p-Home.TextBox170 {
font-size: 30px;
margin-bottom: ;
text-align: center;
margin-left: 15px;
}
.p-Home.TextBox172 {
color: #fbfbfb;
font-size: 30px;
margin-bottom: 20px;
text-align: center;
margin-left: 25px;
}
.p-Home.TextBox173 {
text-align: left;
width: 320px;
align-self: auto;
margin-left: 195px;
font-size: 18px;
}
.p-Home.Button23 {
color: #ffffff;
background-color: #ff7b35;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ffffff;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
width: 125px;
}
.p-Home.Button24 {
color: #0e0e0e;
background-color: #fbfbfb;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff8818;
cursor: pointer;
user-select: none;
margin-right: 30px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
width: 125px;
}
.p-Home.TextBox161 {
height: 40px;
margin-left: 120px;
margin-right: 170px;
background-color: #ffffff;
width: 120px;
padding-top: ;
padding-bottom: ;
margin-top: ;
outline-offset: 16px;
font-size: 21px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
word-wrap: normal;
text-align: center;
line-height: 40px;
position: relative;
bottom: 10px;
}
.p-Home.TextBox162 {
height: 40px;
margin-left: 30px;
margin-right: ;
background-color: #ffffff;
width: 120px;
padding-top: ;
padding-bottom: ;
margin-top: ;
outline-offset: ;
font-size: 16px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
word-wrap: normal;
text-align: center;
line-height: 40px;
position: relative;
bottom: 10px;
}
.p-Home.TextBox163 {
height: 40px;
margin-left: 210px;
margin-right: ;
background-color: #ffffff;
width: 120px;
padding-top: ;
padding-bottom: ;
margin-top: ;
outline-offset: ;
font-size: 16px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
word-wrap: normal;
text-align: center;
line-height: 40px;
position: relative;
bottom: 10px;
right: 90px;
}
.p-Home.TextBox164 {
height: 40px;
margin-left: 210px;
margin-right: ;
background-color: #ffffff;
width: 120px;
padding-top: ;
padding-bottom: ;
margin-top: ;
outline-offset: ;
font-size: 16px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
word-wrap: normal;
text-align: center;
line-height: 40px;
position: relative;
bottom: 10px;
}
.p-Home.TextBox174 {
text-align: left;
margin-left: 300px;
outline-offset: ;
font-size: 26px;
margin-top: ;
position: relative;
top: 180px;
}
.p-Home.TextBox175 {
margin-bottom: 200px;
text-align: left;
margin-left: 120px;
font-size: 18px;
position: relative;
top: 200px;
width: 600px;
}
.p-Home.Testimonial5 {
height: ;
width: ;
margin-top: 2px;
outline-color: #70ffc2;
background-color: #ffffff;
position: relative;
right: 60px;
}
.p-Home.TextBox177 {
font-size: 26px;
margin-top: 130px;
margin-bottom: 30px;
}
.p-Home.Image58 {
width: 420px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
height: 360px;
}
.p-Home.TextBox185 {
margin-top: 20px;
top: 30px;
position: relative;
margin-bottom: 20px;
margin-left: 20px;
color: #9e9e9e;
}
.p-Home.TextBox186 {
margin-bottom: 20px;
margin-left: 20px;
top: 30px;
position: relative;
font-size: 26px;
width: 300px;
}
.p-Home.TextBox187 {
margin-bottom: ;
margin-left: 20px;
position: relative;
top: 30px;
color: #9b9b9b;
}
.p-Home.Image59 {
width: 230px;
height: 147px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.p-Home.Image60 {
width: 230px;
height: 197px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
position: relative;
top: 120px;
margin-right: 50px;
}
.p-Home.Image62 {
width: 230px;
height: 197px;
position: relative;
top: 120px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.p-Home.Image63 {
width: 230px;
height: 147px;
margin-top: 190px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
margin-right: 50px;
margin-bottom: ;
}
.p-Home.Button27 {
color: #fff;
background-color: #f87528;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff7b36;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
width: 200px;
}
.p-Home.Button28 {
color: #262626;
background-color: #ffffff;
padding-top: 12px;
padding-left: 25px;
padding-bottom: 12px;
padding-right: 25px;
font-size: 12px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #aeaeae;
cursor: pointer;
user-select: none;
margin-right: 38px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
margin-left: 30px;
margin-top: ;
position: relative;
width: 200px;
}
.p-Home.Image70 {
position: relative;
top: 80px;
right: 20px;
}
.p-Home.TextBox202 {
text-align: left;
width: 160px;
margin-bottom: 40px;
font-size: 18px;
margin-right: ;
}
.p-Home.TextBox203 {
margin-bottom: 20px;
font-size: 16px;
}
.p-Home.TextBox204 {
margin-bottom: 20px;
font-size: 16px;
}
.p-Home.Div94 {
width: 600px;
background-color: #fd854d;
position: static;
margin-left: 250px;
}
.p-Home.Image71 {
width: 25px;
height: 25px;
position: relative;
left: 160px;
top: 400px;
}
.p-Home.Image72 {
width: 25px;
height: 25px;
top: 475px;
position: relative;
left: 135px;
}
.p-Home.Image73 {
width: 25px;
height: 25px;
position: relative;
left: 110px;
top: 515px;
}
.p-Home.TextBox208 {
margin-bottom: 20px;
}
.p-Home.TextBox209 {
margin-bottom: 20px;
}
.p-Home.TextBox210 {
text-align: left;
width: 150px;
margin-bottom: 40px;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
width: 140px;
margin-left: 40px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-bottom: ;
}
.p-Home.TextBox215 {
margin-left: 50px;
bottom: 60px;
position: relative;
left: 160px;
width: 100px;
}
.p-Home.Input3 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
width: 140px;
margin-left: 40px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
margin-bottom: ;
position: relative;
bottom: 45px;
left: 170px;
}
.p-Home.TextBox216 {
width: 100px;
margin-top: 50px;
margin-left: 40px;
margin-bottom: 15px;
}
.p-Home.TextBox220 {
width: 100px;
margin-left: 40px;
margin-bottom: 20px;
position: relative;
left: 170px;
}
.p-Home.Input4 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-left: 40px;
width: 140px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
position: relative;
bottom: 45px;
}
.p-Home.TextBox221 {
width: 100px;
margin-left: 40px;
margin-bottom: 20px;
margin-top: ;
position: relative;
bottom: 40px;
}
.p-Home.Input5 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-left: 40px;
width: 140px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
position: relative;
bottom: 45px;
right: 10px;
}
.p-Home.TextBox223 {
margin-left: 40px;
width: 100px;
}
.p-Home.TextBox224 {
margin-left: 40px;
width: 100px;
position: relative;
bottom: 18px;
left: 170px;
}
.p-Home.Input6 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-left: 40px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
width: 140px;
}
.p-Home.Input7 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
margin-left: 40px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
width: 140px;
position: relative;
right: 10px;
}
.p-Home.TextBox225 {
margin-left: 40px;
margin-top: 40px;
}
.p-Home.Input8 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #000000d9;
font-size: 14px;
background-color: #fff;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
height: 80px;
margin-left: 40px;
margin-top: 20px;
width: 310px;
margin-bottom: 20px;
}
.p-Home.Button29 {
color: #fff;
background-color: #fd8718;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 14px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff8115;
cursor: pointer;
user-select: none;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
width: 160px;
margin-left: 40px;
}
.p-Home.TextBox212 {
font-size: 24px;
margin-bottom: 20px;
}
.p-Home.TextBox213 {
width: 250px;
font-size: 18px;
}
.p-Home.Image75 {
width: 300px;
height: 300px;
position: relative;
bottom: 270px;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
margin-left: 120px;
}
.p-Home.TextBox228 {
position: relative;
bottom: 650px;
left: 80px;
font-size: 34px;
}
.p-Home.Button30 {
color: #fff;
background-color: #ff7d41;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #ff8818;
cursor: pointer;
user-select: none;
width: 130px;
position: relative;
left: 1015px;
bottom: 695px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
height: 55px;
}
.p-Home.Image74 {
width: 300px;
height: 300px;
margin-left: 195px;
margin-right: ;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
margin-top: 200px;
position: relative;
right: 300px;
bottom: 50px;
top: 30px;
}
.p-Home.Image77 {
width: 140px;
position: relative;
left: 370px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
top: 30px;
}
.p-Home.Image78 {
width: 140px;
position: relative;
left: 680px;
bottom: 130px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-top-right-radius: 25px;
}
.p-Home.Image79 {
width: 140px;
position: relative;
left: 650px;
bottom: 130px;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
margin-top: ;
}
.p-Home.Image80 {
width: 140px;
left: 960px;
position: relative;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
top: 30px;
}
.p-Home.TextBox250 {
position: relative;
bottom: 320px;
left: 800px;
font-size: 21px;
}
.p-Home.TextBox230 {
margin-right: 30px;
}
.p-Home.TextBox231 {
;
}
.p-Home.TextBox232 {
margin-right: 60px;
}
.p-Home.TextBox233 {
;
}
.p-Home.TextBox234 {
margin-right: 50px;
}
.p-Home.TextBox235 {
;
}
.p-Home.TextBox236 {
margin-right: 50px;
}
.p-Home.TextBox237 {
;
}
.p-Home.TextBox238 {
margin-right: 35px;
}
.p-Home.TextBox239 {
;
}
.p-Home.TextBox247 {
margin-right: 40px;
width: 50px;
}
.p-Home.TextBox248 {
;
}
.p-Home.TextBox245 {
margin-right: 50px;
height: 20px;
}
.p-Home.TextBox246 {
;
}
.p-Home.TextBox243 {
margin-right: 35px;
font-size: 21px;
width: 300px;
color: #000000;
}
.p-Home.TextBox244 {
font-size: 21px;
color: #0e0e0e;
}
.p-Home.Image81 {
margin-bottom: 20px;
width: 260px;
}
.p-Home.TextBox229 {
margin-right: ;
font-size: 18px;
width: 350px;
color: #6a6969;
}
.p-Home.Image91 {
width: 25px;
margin-top: 15px;
margin-right: 10px;
}
.p-Home.Image96 {
width: 25px;
margin-top: 15px;
margin-right: 10px;
}
.p-Home.Image97 {
width: 25px;
margin-top: 15px;
margin-right: 10px;
}
.p-Home.Image98 {
width: 25px;
margin-top: 15px;
margin-right: 10px;
}
.p-Home.Image99 {
width: 25px;
margin-top: 15px;
margin-right: 10px;
}
.p-Home.Image82 {
width: 140px;
position: relative;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
margin-top: ;
right: 280px;
}
.p-Home.Image88 {
width: 140px;
position: relative;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
border-top-right-radius: 25px;
right: 220px;
}
.p-Home.Image89 {
width: 140px;
position: relative;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
top: 165px;
right: 140px;
}
.p-Home.Image90 {
width: 140px;
left: 200px;
position: relative;
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
top: 165px;
}
